<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choppala Suhas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/about-me.css">
</head>
<body>



    <div class="container-fluid justify-content-center align-items-center banner ">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark topBar">
            <div class="container-fluid">
                <a class="navbar-brand fs-6" href="../index.html">© Portfolio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="projects.html">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about-me.html">About</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <a href="contact-me.html"><button class="btn btn-outline-secondary contact-btn" type="submit">Contact</button></a>
                    </div>
                </div>
            </div>
        </nav>

        <!-- !Second Row -->
        <div class="row second-row justify-content-center align-items-center">
            <div class="col-sm justify-content-center align-items-center box box-1">
                <div class="card"style="padding: 46px 20px;">
                    <div class="idimg">
                        <img src="../assets/fimg.JPG" width="150px" style="border-radius: 50%; border: 5px solid rgba(40,40,40, 0.7);">
                    </div>
                    <h4 class="text-center name" style="font-weight: 300;">Choppala Suhas</h4>
                    <p class="text-center">Front End Developer  |  India</p>
                    <div class="about-icons d-flex justify-content-center align-items-center">
                        <a href="https://www.linkedin.com/in/choppala-suhas-9321b8218/" target="_blank"><i id="linkedin" class="fa-brands fa-linkedin-in aicons"></i></a>
                        <a href="https://github.com/SuhasChoppala" target="_blank"><i id="github" class="fa-brands fa-github aicons"></i></a>
                        <a href="https://instagram.com/suhas__ch?igshid=MzMyNGUyNmU2YQ%3D%3D&utm_source=qr" target="_blank"><i id="insta" class="fa-brands fa-instagram aicons"></i></a>
                        <a href="https://x.com/suhas_ch_?s=21" target="_blank"><i id="twitter" class="fa-brands fa-x-twitter aicons"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm box">
                <div class="card about-me-box justify-content-center">
                    <h2 style="font-weight: 300;">Hey there! I’m Choppala <span id="about-me-box-h2">Suhas</span></h2>
                    <p>As an enthusiastic and highly motivated student of IIT Tirupati, I'm passionate about Front End Development. I’m seeking a Front end developer role where I can use my skills and interest to collaborate with teams. Also, I’m open to explore different Software engineer roles across different domains. Willing to learn and explore different opportunities.</p>
                    <div id="resume">
                    <a href="https://drive.google.com/file/d/1OH6STPjtahI7DwO8IF_1mfB7Ww-gcDCO/view" target="_blank"><span class="material-symbols-outlined resume-icon">download</span>Download Resume</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- !Third Row  -->
    <div class="row aeduc-box">
        <div class="card aeduc-card">
            <h5 style="font-weight: 400;"> <span><i class="fa-solid fa-graduation-cap educationicon" ></i></span>Education</h5>
            <div class="edsec">
                <div class="edcbox">
                    <div class="row">
                        <div class="col-sm-4 side1">
                            <h6>Indian Institute of Technology Tirupati</h6>
                            <p style="color: rgb(110, 110, 110);">Andhra Pradesh</p>
                            <p style="color: rgb(110, 110, 110);">2019 - 2023</p>
                        </div>
                        <div class="col-sm-8 side2">
                            <h6 style="color: rgb(110, 110, 110);">Bachelor's in Mechanical Engineering</h6>
                            <!-- <h6 style="color: rgb(110, 110, 110);">GPA - 6.74</h6> -->
                        </div>
                    </div>
                </div>
                <div class="edcbox  a-edc-rows">
                    <div class="row">
                        <div class="col-sm-4 side1">
                            <h6>Sree Kasyap Junior College</h6>
                            <p style="color: rgb(110, 110, 110);">Andhra Pradesh</p>
                            <p style="color: rgb(110, 110, 110);">2017 - 2019</p>
                        </div>
                        <div class="col-sm-8 side2">
                            <h6 style="color: rgb(110, 110, 110);">Andhra Pradesh Board of Intermediate Education</h6>
                            <!-- <h6 style="color: rgb(110, 110, 110);">GPA - 8.71</h6> -->
                        </div>
                    </div>
                </div>
                <div class="edcbox  a-edc-rows edcbox3">
                    <div class="row">
                        <div class="col-sm-4 side1">
                            <h6>Sri Chaitanya EM School</h6>
                            <p style="color: rgb(110, 110, 110);">Andhra Pradesh</p>
                            <p style="color: rgb(110, 110, 110);">2016 - 2017</p>
                        </div>
                        <div class="col-sm-8 side2">
                            <h6 style="color: rgb(110, 110, 110);">The Board of Secondary Education Of Andhra Pradesh</h6>
                            <!-- <h6 style="color: rgb(110, 110, 110);">GPA - 9.3</h6> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- !Third row -->
    <div class="row train-box">
        <div class="card tcard">
            <h5 style="font-weight: 400; padding-top: 16px;"> <span><i class="fa-solid fa-briefcase train-icon"></i></span>Internships & Training</h5>
            <div class="card tcard1">
                <div class="row train-cards">
                    <div class="col-sm-9 tside1 reveal-right">
                        <h5>Summer Internship</h5>
                        <h5>Thermax Pvt Limited</h5>
                        <p style="color: rgb(110, 110, 110); text-align: justify;">Worked as a summer intern at Thermax Limited, Sri City, as a part of 8 weeks internship program. I have been involved in high impact projects such as ”Planning” and ”Tube Expansion”. My internship has allowed me to carry out various routine tasks that have helped me learn more about the engineering procedures used by the company.</p>
                    </div>
                    <div class="col-sm-3 tside2 reveal-left">
                        <img class="training-img" src="../assets/c1.png" width="244px" height="200px">
                    </div>
                </div>
            </div>
            <div class="card tcard1">
                <div class="row train-cards">
                    <div class="col-sm-9 tside1 reveal-right">
                        <h5>Industrial Automation Technology</h5>
                        <h5>MTAB Technology Centre</h5>
                        <p style="color: rgb(110, 110, 110); text-align:justify ;">In a 4-week internship at MTAB Technology Centre Private Limited, worked closely with an architect at the company as my mentor. The role involved contributions to significant industrial automation projects, including "Box Sorting System" and "Automatic bottle filling." The projects required interaction with various PLC systems and the utilization of AUTOMGEN 8 software.</p>
                    </div>
                    <div class="col-sm-3 tside2 reveal-left">
                        <img class="training-img" src="../assets/c2.png" width="244px" height="200px">
                    </div>
                </div>
            </div>
            <div class="card tcard1">
                <div class="row train-cards">
                    <div class="col-sm-9 tside1 reveal-right">
                        <h5>Campus Ambassador</h5>
                        <h5>collegedunia.com</h5>
                        <p style="color: rgb(110, 110, 110); text-align:justify ;">Enabled collegedunia.com to facilitate higher education opportunities to students from different colleges across the country. Resourced them with student reviews, excerpts from faculty keynotes, courses and opportunities in every branch. The overall objective was to enhance accessibility to higher education information for students from different colleges across the country.</p>
                    </div>
                    <div class="col-sm-3 tside2 reveal-left">
                        <img class="training-img" src="../assets/c3.png" width="244px" height="200px">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- !Fourth row  -->
    <div class="row footercard">
        <div class="card fcard">
            <div class="row reveal-fade">
                <div class="col-sm fcard1">
                    <h5>Got a project in mind?</h5>
                    <h6 style="font-weight: 400; color: rgb(110, 110, 110);">Reach out and let's make it happen!</h6>
                    <a href="contact-me.html" id="fbtn">Get In Touch</a>
                </div>
                <div class="col-sm d-flex justify-content-start justify-content-lg-end justify-content-md-end">
                    <div class="f-icons">
                        <a href="https://www.linkedin.com/in/choppala-suhas-9321b8218/" target="_blank"><i id="linkedin" class="fa-brands fa-linkedin-in aicons"></i></a>
                            <a href="https://github.com/SuhasChoppala" target="_blank"><i id="github" class="fa-brands fa-github aicons"></i></a>
                            <a href="https://instagram.com/suhas__ch?igshid=MzMyNGUyNmU2YQ%3D%3D&utm_source=qr" target="_blank"><i id="insta" class="fa-brands fa-instagram aicons"></i></a>
                            <a href="https://x.com/suhas_ch_?s=21" target="_blank"><i id="twitter" class="fa-brands fa-x-twitter aicons"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>        
<script src="https://kit.fontawesome.com/b927c8d3d7.js" crossorigin="anonymous"></script>
<script>
    window.addEventListener('scroll',reveal);
    function reveal(){
        var reveals = document.querySelectorAll('.reveal')
        for(var i = 0; i < reveals.length; i++){
            var windowheight = window.innerHeight;
            var revealtop = reveals[i].getBoundingClientRect().top;
            var revealpoint = 20;
            if(revealtop < windowheight - revealpoint){
                reveals[i].classList.add('active');
            }
            else{
                reveals[i].classList.remove('active');
            }
        }
        
        var reveals_fade = document.querySelectorAll('.reveal-fade')
        for(var i = 0; i < reveals_fade.length; i++){
            var windowheight = window.innerHeight;
            var revealtop = reveals_fade[i].getBoundingClientRect().top;
            var revealpoint = 5;
            if(revealtop < windowheight - revealpoint){
                reveals_fade[i].classList.add('active-fade');
            }
            else{
                reveals_fade[i].classList.remove('active-fade');
            }
        }

        var reveals_right = document.querySelectorAll('.reveal-right')
        for(var i = 0; i < reveals_right.length; i++){
            var windowheight1 = window.innerHeight;
            var revealtop1 = reveals_right[i].getBoundingClientRect().top;
            var revealpoint1 = -15;
            if(revealtop1 < windowheight1 - revealpoint1){
                reveals_right[i].classList.add('active-right');
            }
            else{
                reveals_right[i].classList.remove('active-right');
            }
        }

        var reveals_left = document.querySelectorAll('.reveal-left')
        for(var i = 0; i < reveals_left.length; i++){
            var windowheight = window.innerHeight;
            var revealtop = reveals_left[i].getBoundingClientRect().top;
            var revealpoint = 10;
            if(revealtop < windowheight - revealpoint){
                reveals_left[i].classList.add('active-left');
            }
            else{
                reveals_left[i].classList.remove('active-left');
            }
        }
    }
</script>
</body>
</html>
