<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/navbar2.css">
    <link rel="stylesheet" href="../styles/who-are-we.css">
    <link rel="stylesheet" href="../styles/programs.css">
    <link rel="stylesheet" href="../styles/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,400;1,500;1,600&display=swap" rel="stylesheet">
</head>
<body>
    <div id="NAV2">
        <div id="header">
            <div id="div1">
                <a href="index.html"><img src="../assets/logo.png.webp" /></a>
                <ul>
                <li id="hb1"><a href="index.html">Home</a></li> 
                <li id="hb2"><a href="who-are-we.html">Who We Are?</a></li>
                <li id="hb3"><a href="programs.html">Programs</a></li>
                <li id="hb4"><a href="about.html">About</a></li>
                <!-- <li id="hb4">Blog</li> -->
                <li id="hb5"><a href="contact-us.html">Contact Us</a></li>
                </ul>
            </div>
            <div id="div2">
                <h4>Call Us : <span id="dashed">0(78)6753674 </span></h4>
                <button id="header-bt"><span><i class="fa-solid fa-heart" style="color: #ffffff"></i></span><a href="programs.html">Make a Donation</a></button>
            </div>
        </div>
        <div id="who-are-we">
            <h1>About Us</h1>
        </div>
    </div>

<!-- ...........ABOUT US............. -->

<div id="about-us-2">
    <div>
        <p>About Us</p>
        <h1>We are tender heart charity foundation.</h1>
        <p>When a child gets access to good food, it can change just about everything. Sed do eiusmod tempor incididunt dolore magna aliqua. Utenim ad minim veniam, quis nostrud exercitation</p>
        <button id="bt3"><a href="about.html">Discover More</a></button>
    </div>
    <div>
        <img src="../assets/ch1.webp" />
    </div>
</div>

<!-- .......HOW WE HELP PEOPLE............ -->

<div id="b2-WAW">
    <div id="helpdiv1">
        <p>Helping Today</p>
        <h1>How we help people</h1>
    </div>
    <div id="helpdiv2">
        <div id="subdiv1">
        <div>
            <img src="../assets/services1.svg" />
        </div>
        <div>
            <a href="#">Pure Food & Water</a>
            <p>Odio aliquet, fringilla odio eget, tincidunt</p>
            <p>nunc duis aliquet pulvinar ante</p>
            <p>employees and organizations to support.</p>
        </div>
    </div>
    
    <div id="subdiv2">
        <div>
            <img src="../assets/services2.svg" />
        </div>
        <div>
            <a href="#">Health & Medicine</a>
            <p>Odio aliquet, fringilla odio eget, tincidunt</p>
            <p>nunc duis aliquet pulvinar ante</p>
            <p>employees and organizations to support.</p>
        </div>
    </div>
    
    <div id="subdiv3">
        <div>
            <img src="../assets/services3.svg" />
        </div>
        <div>
            <a href="#">Education</a>
            <p>Odio aliquet, fringilla odio eget, tincidunt</p>
            <p>nunc duis aliquet pulvinar ante</p>
            <p>employees and organizations to support.</p>
        </div>
    </div>
</div>
</div>

<!-- ............HELPING TODAY.......... -->]

<div id="helping-today-About-Us">
    <div>
        <img src="../assets/helping today.webp" />
    </div>
    <div>
        <p>Helping Today</p>
        <h1>What we are doing</h1>
        <p>When a child gets access to good food, it can change just about everything. Sed do eiusmod tempor incididunt dolore magna aliqua. Utenim ad minim veniam, quis nostrud exercitation</p>
        <button id="bt5"><a href="#">Join Us Today</a></button>
    </div>
</div>

<!-- ............FOOTER.......... -->

<div id="footer">
    <div id="fsub1">
            <img src="../assets/logo2_footer.png.webp" />
            <p>When a child gets access to good food, it can change just about everything. Sed do eiusmod tempor incididunt dolore magna aliqua.</p>
        <div id="ficons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
    </div>
    <div id="fsub2">
        <h3>Navigation</h3>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="index.html">Services</a></li>
            <!-- <li>Blog</li> -->
            <li><a href="contact-us.html">Contact</a></li>
        </ul>
    </div>
    <div id="fsub3">
        <h3>Contact Us</h3>
        <div id="footerul">
                <ul>
                    <li>4486 Richards Avenue, Modesto CA - 95354</li>
                    <li>209-818-6041</li>
                    <li>charity90@gmail.com</li>
                </ul>
        </div>
    </div>
    <div id="fsub4">
        <h3>Support</h3>
        <p>When a child gets access to good food, it can change.</p>
        <button id="ftbt"><a href="#">Join Us Today</a></button>
    </div>
</div>

<script src="https://kit.fontawesome.com/b927c8d3d7.js"crossorigin="anonymous"></script>
<script src="../scripts/index.js"></script>
</body>
</html>