* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}


@keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(70px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-150px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }

}

@keyframes fade-in-left {
    from {
        opacity: 0;
        transform: translateX(150px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-out {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.card {
    backdrop-filter: blur(6px) saturate(95%);
    -webkit-backdrop-filter: blur(6px) saturate(95%);
    background-color: rgba(64, 64, 79, 0.11);
    border: 1px solid rgba(255, 255, 255, 0.125);
}


body {
    background-image: url(../assets/4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.p-heading {
    border-bottom: 2px solid rgba(255, 255, 255, 0.125);
    width: 160px;
    line-height: 30px;
}


.topBar {

    /* backdrop-filter: blur(6px) saturate(95%);
    -webkit-backdrop-filter: blur(6px) saturate(95%); */
    background-color: rgba(64, 64, 79, 0.11);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 14px;
    width: 100%;
    margin-top: 30px;
    color: rgb(188, 188, 188);
    animation: fade-in-down 1s forwards;
}

.infobox {
    animation: fade-in-right 1s forwards;
}

.infobox h1 {
    background: linear-gradient(rgb(255, 255, 255), rgb(53, 50, 50));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.infobox p {
    text-align: justify;
}

.infobox2 {
    animation: fade-in-left 2s forwards;
}

.infobox2 h4 {
    background: linear-gradient(rgb(255, 255, 255), rgb(53, 50, 50));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: all 0.4s ease;
}

.infobox2 p {
    transition: all 0.4s ease;
}



.infobox2:hover h4 {
    transform: scale(1.07);
}

.infobox2:hover p {
    transform: scale(1.07);
}


.contact-btn {
    color: #fff;
    background-color: rgba(134, 122, 122, 0.2);
    border: none;
}

.contact-btn:hover {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.second-row {
    margin-top: 22px;
    border-radius: 14px;
    color: rgb(188, 188, 188);
}

.idimg {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    transition: all 0.4s ease;
}

.topicons a {
    text-decoration: none;
    color: rgb(188, 188, 188);
}

.icons {
    font-size: 20px;
    padding: 11px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 5px;
    margin-right: 18px;
}

.card {
    background-color: rgba(255, 255, 255, 0.02);
    color: rgb(188, 188, 188);
    border-radius: 14px;
}

#linkedin {
    transition: all 0.4s ease;
}

#github {
    transition: all 0.4s ease;
}

#insta {
    transition: all 0.4s ease;
}

#twitter {
    transition: all 0.4s ease;
}

#linkedin:hover {
    color: rgb(55, 98, 207);
    cursor: pointer;
    border: 1px solid rgb(55, 98, 207);
    transform: scale(1.3);
}

#github:hover {
    color: rgb(8, 132, 8);
    cursor: pointer;
    border: 1px solid rgb(8, 132, 8);
    transform: scale(1.3);
}

#insta:hover {
    color: rgb(241, 0, 10);
    cursor: pointer;
    border: 1px solid rgb(241, 0, 10);
    transform: scale(1.3);
}

#twitter:hover {
    color: rgb(55, 98, 207);
    cursor: pointer;
    border: 1px solid rgb(55, 98, 207);
    transform: scale(1.3);
}

#viewall-btn {
    color: rgb(188, 188, 188);
    background-color: rgba(134, 122, 122, 0.2);
    padding: 5px 13px;
    border-radius: 8px;
}

#viewall-btn:hover {
    background-color: transparent;
    padding: 5px 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.third-row {
    margin-top: 12px;
    padding: 10px;
}


.pbutton {
    text-align: right;
}

.pcard1 {
    padding: 20px 20px 10px 20px;
    animation: fade-in-up 3s forwards;
}

.prows {
    margin-top: 14px;
    padding: 12px 10px 12px 10px;
    border: 1px solid rgba(43, 42, 42, 0.5);
    align-items: center;
    border-radius: 10px;
}

.prows a {
    text-decoration: none;
    font-size: 17px;
    color: rgb(188, 188, 188);
}

.picons {
    background-color: rgba(43, 42, 42, 0.4);
    padding: 16px;
    border-radius: 14px;
}

.pnames {
    padding: 18px;
}

.expandedcrow {
    margin-bottom: 16px;
}

.educationcard {
    animation: fade-in-up 3s forwards;
}

.educationicon {
    margin-right: 10px;
    font-size: 18px;
}

.eicons {
    font-size: 10px;
    width: 100%;
    justify-content: flex-start;
}


.edrows {
    margin-top: 10px;
}

.edcards {
    width: 100%;
    background-color: transparent;
    border: none;
}

.expicon {
    margin-right: 10px;
    font-size: 18px;
}

.expcard {
    animation: fade-in-up 3s forwards;

}

.exprows {
    height: 250px;
}

.sliderlines {
    /* margin: auto; */
    position: relative;
    /* margin-top: 8px; */
    margin: auto;
}

#exp1 {
    margin-top: 8px;
}

.foot-index {
    /* margin-top: 22px; */
    padding: 17px 10px 7px 0px;
    animation: fade-in-up 4s forwards;
    justify-content: last baseline;
}

.skills-heading {
    font-weight: 400;
    font-size: 23px;
}

.skill-main {
    overflow: hidden;
}

.slide-skills {
    animation: scroll 20s linear infinite;
    /* animation-name: loop; */
    /* animation-timing-function: linear;
    animation-iteration-count: infinite; */
    white-space: nowrap;
    display: flex;
    gap: 10px;
    color: rgb(188, 188, 188);
    vertical-align: auto;
    padding-right: 20px;
}

.slide-skills h6 {
    /* display: inline-block; */
    padding: 3px 15px 0px 15px;
    font-weight: 300;
    color: rgb(110, 110, 110);
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
        /* Start scrolling from the right edge */
    }

    100% {
        transform: translateX(-80.9%);
        /* Scroll to the left edge */
    }
}




/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) {
    body {
        /* background: linear-gradient(to bottom, #780206, #030a3d); */
        /* background: linear-gradient(to bottom, #7a2828, #00223E); */
        background: linear-gradient(to bottom, #870000, #00223E, #010201);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 15px 10px 10px 10px;
        align-items: center;
        justify-content: center;
    }

    .topBar {
        margin-top: 0px;
        width: 100%;
    }

    .second-row {
        flex-direction: column-reverse;
        margin-top: 15px;
    }

    .infobox {
        margin-top: 20px;
    }

    .pheader {
        display: flex;
        width: 100%;
        flex-direction: row;
        padding: 0px;
    }

    .pheader-text {
        width: 50%;
    }

    .pbutton {
        width: 50%;
        text-align: right;
        justify-content: flex-end;
        margin-right: 0px;
    }

    #viewall-btn {
        text-align: right;
        margin-right: 0px;
        position: relative;
        margin-right: -8px;
    }

    .prows {
        width: 100%;
        display: flex;
        flex-direction: row;
        border: 1px solid rgba(87, 80, 80, 0.2);
    }

    .p-iconsec {
        width: 20%;
    }

    .p-namesec {
        width: 80%;
        padding-left: 22px;
    }


    .pcard1 {
        padding: 20px 0px 10px 20px;
    }


    .picons {
        width: 50px;
        background-color: rgba(87, 80, 80, 0.2);
    }

    .educationcard {
        margin-top: 20px;
        padding: 10px;
    }

    .expcard {
        margin-top: 20px;
        padding: 10px;
    }

    .skills-row {
        padding: 10px;
    }


}



/* This is only for the Glalaxy fold mobile which has 280px  */
@media (min-width: 279px) and (max-width: 282px) {

    .pheader-text h5 {
        font-size: 17px;
    }

    #viewall-btn {
        padding: 3px 3px;
    }

    .prows a {
        font-size: medium;
    }

    .picons {
        width: 2px;
        justify-content: start;
    }
}

/* for tablets */
@media (min-width: 576px) and (max-width: 767px) {
    body {
        /* background: linear-gradient(to bottom, rgb(51, 9, 11), rgb(0, 0, 0)); */
        /* background: linear-gradient(to bottom, #780206, #030a3d); */
        background: linear-gradient(to bottom, #870000, #00223E, #010201);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }

    .topBar {
        margin-top: 10px;
    }

    .second-row .col-sm-6 {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .second-row {
        display: flex;
        flex-direction: column-reverse;
    }

    .third-row {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }

    .prows {
        border: 1px solid rgba(87, 80, 80, 0.2);
    }

    .picons {
        background-color: rgba(87, 80, 80, 0.2);
    }

    .third-row .col-sm-8 {
        width: 100%;
    }

    .project-card {
        width: 100%;
        margin-right: 0px
    }

    .expandedcrow {
        display: flex;
        flex-direction: column;
    }

    .third-row .expandedcrow .col-sm {
        margin-top: 20px;
        width: 100%;
        margin-right: 0px;
    }

    .expcard {
        width: 100%;
        margin-right: 0px;
        padding: 10px;
    }

    .educationcard {
        width: 100%;
        padding: 10px;
    }

    .foot-index {
        width: 100%;
        margin-right: 0px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        background-image: url(../assets/4.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 20px;
        align-items: center;
        justify-content: center;
    }

    .topBar {
        margin-top: 0px;
        width: 100%;
    }

    .pcard1 {
        height: 530px;
    }

    .pheader h5 {
        font-size: larger;
    }

    #viewall-btn {
        color: rgb(188, 188, 188);
        background-color: rgba(134, 122, 122, 0.2);
        padding: 2px 8px;
        border-radius: 8px;
    }

    #viewall-btn:hover {
        background-color: transparent;
        padding: 2px 8px;
        border: 0px solid rgba(255, 255, 255, 0.125);
    }

    .pbutton {
        text-align: center;
    }

    .picons {
        background-color: rgba(43, 42, 42, 0.4);
        padding: 8px;
        border-radius: 14px;
    }

    .prows a {
        text-decoration: none;
        font-size: 14px;
        color: rgb(188, 188, 188);
    }

    .prows {
        margin-top: 40px;
        padding: 12px 10px 12px 10px;
        border: 1px solid rgba(43, 42, 42, 0.5);
        align-items: center;
        border-radius: 10px;
    }

    .educationcard {
        height: 450px;
        padding: 10px;
    }

    .edrows {
        margin-top: 2px;
    }

    .expcard {
        height: 450px;
        padding: 10px;
    }

    .sidebar {
        background-color: black;
    }

}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        background-image: url(../assets/4.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 10px 20px;
        align-items: center;
        justify-content: center;
    }

    .topBar {
        margin-top: 0px;
        width: 100%;
    }

    .expcard {
        height: 340px;
        padding: 20px 10px 0px 10px;
    }

    .educationcard {
        height: 340px;
        padding: 20px 10px 0px 10px;
    }

    .expandedcrow {
        padding-bottom: 8px;
    }

    .pcard1 {
        height: 430px;
    }

    .prows {
        margin-top: 30px;
        padding: 12px 10px 12px 10px;
        border: 1px solid rgba(43, 42, 42, 0.5);
        align-items: center;
        border-radius: 10px;
    }

    .pbutton {
        text-align: right;
    }

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        background-image: url(../assets/4.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 20px 100px;
        align-items: center;
        justify-content: center;
    }

    .topBar {
        width: 100%;
    }

    .expcard {
        height: 340px;
        padding: 20px 10px 0px 10px;
    }

    .educationcard {
        height: 340px;
        padding: 20px 10px 0px 10px;
    }

    .prows {
        margin-top: 14px;
        padding: 12px 10px 12px 10px;
        border: 1px solid rgba(43, 42, 42, 0.5);
        align-items: center;
        border-radius: 10px;
    }

    .prows a {
        text-decoration: none;
        font-size: 17px;
        color: rgb(188, 188, 188);
    }

    .picons {
        background-color: rgba(43, 42, 42, 0.4);
        padding: 16px;
        border-radius: 14px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    body {
        background-image: url(../assets/4.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 20px 150px;
        align-items: center;
        justify-content: center;
    }

    .edrows {
        margin-top: 15px;
    }

    .topBar {
        width: 100%;
    }
}
